.custom-button {
  padding: 0.7em 2.1em;
  border-radius: 1.2em;
  border-style: none;
  color: var(--color-white);
  background-color: var(--color-brand);
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 30ms ease-in;

  &:active {
    transform: scale(0.95);
  }

  &:hover {
    background-color: var(--color-brand-light);
  }

  &.inverted {
    border: 1.5px solid var(--color-white);
    background-color: transparent;

    &:hover {
      background-color: var(--color-white);
      color: var(--color-black);
      mix-blend-mode: screen;
    }
  }
}
